html,
body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  justify-content: center;
  display: flex;
}

button {
  margin-right: 10px;
}

#grid-container {
  display: grid;
  width: 960px;
  height: 960px;
  grid-gap: 0;
  margin: auto;
  border: 1px solid black;
  max-width: 960px;
  max-height: 960px;
}

.grid-buttons {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
  margin: 5px;
}

.activeGridColor {
  background-color: black;
}

.square {
  border: 1px solid black;
}
